= form_for([@project, @task], html: {class: 'form-horizontal'}) do |f|
  = render 'shared/errors', instance: @task
  .form-group
    = f.label :description, class: "col-md-1 control-label"
    .col-md-4
      = f.text_field :description, class: "form-control"

  .form-group
    = f.label :due_date, 'Due', class: "col-md-1 control-label"
    .col-md-2
      = f.date_field :due_date, class: "form-control"

  - if @task.id
    .form-group
      .col-sm-offset-1
        = f.check_box :complete
        = f.label :complete
  .actions.form-group
    = f.submit class: "btn btn-primary col-md-offset-1"
