= form_for(@task, html: {class: 'form-horizontal'}) do |f|
  - if @task.errors.any?
    #error_explanation
      %h4
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  .field.form-group
    = f.label :description, class: "col-md-1"
    = f.text_field :description, class: "col-md-4"

  .field.form-group
    = f.label :due, class: "col-md-1"
    = f.date_field :due_date, html: {placeholder: "  /  /  ", class: "col-md-2"}
    %span.add-on
      %i.glyphicon.glyphicon-calendar

  - if @task.id
    .field.form-group
      .col-sm-offset-1
        = f.check_box :complete
        = f.label :complete
  .actions.form-group
    = f.submit class: "btn btn-primary col-md-offset-1"
