%br
%br
.container
  .page-header
    .pull-right= link_to 'Create Task', new_task_path, class: 'btn btn-info'
    %h1 Tasks
  %table.table
    %thead
      %tr
        %th Description
        %th{:colspan => "3"}
  %tbody
  - @tasks.each do |task|
    .col-md-12.panel
      %tr
        %td= task.description
        %td
          .pull-right
            = link_to 'Show', task, class: 'btn btn-primary'
            = link_to 'Edit', edit_task_path(task), class: 'btn btn-warning'
            = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
