= render 'shared/success'
.pull-right
  -if current_user.admin? || @user.id == current_user.id
    = link_to 'Edit', edit_user_path, class: 'btn btn-primary'
%h1= @user.full_name
%dl.dl-horizontal
  %dt First name
  %dd= @user.first_name
  %br
  %dt Last name
  %dd= @user.last_name
  %br
  -if current_user.admin? || share_projects?
    %dt Email
    %dd= mail_to @user.email
