%h1 About
.col-md-4
  .row
    = image_tag ('nycimg3.jpg'), class: 'img-responsive'
.col-md-6
  %p
    We are dedicated to the makers, the creators, the rist-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.
  %p
    When we're not hard at work, we're hard at play - we're the loud ones in the bar (not really). and we're always the ones shutting the place down (also not really). Human communication and collaboration is what drives us, and it infuses every feature of gCamp.
.col-md-12
  .row
    %p
      gCamp is extreamly active. Just check out our killer stats below!

    = "#{pluralize(@projects.count, 'Project')}, #{pluralize(@tasks.count, 'Task')}, #{pluralize(@memberships.count, 'Project member')}, #{pluralize(@users.count, 'User')}, #{pluralize(@comments.count, 'Comment')}"
