%h1 About
.col-md-4
  .row
    = image_tag ('nycimg3.jpg'), class: 'img-responsive'
.col-md-6
  %p
    Street art ennui Godard blog, crucifix iPhone readymade gentrify put a bird on it Carles hashtag drinking vinegar 90's. Craft beer meh paleo fap Tonx swag. Beard fashion axe single-origin coffee, kale chips blog jean shorts keffiyeh 3 wolf moon before they sold out Wes Anderson you probably haven't heard of them salvia Cosby sweater tilde. Art party locavore tilde. Quinoa dreamcatcher pour-over master cleanse, heirloom vegan High Life. Chambray wayfarers crucifix mixtape swag.
  %p
    Hashtag biodiesel authentic messenger bag. Post-ironic Banksy irony raw denim, flannel Tumblr freegan Schlitz tousled Portland. Food truck post-ironic tofu disrupt, cray lomo flannel +1 selvage hella art party raw denim roof party Brooklyn American Apparel. Direct trade single-origin coffee, cardigan freegan literally Marfa fashion axe Portland viral. Gastropub literally migas, Echo Park street art meditation Neutra leggings Williamsburg.
.col-md-12
  .row
    %p
      gCamp is extreamly active. Just check out our killer stats below!

    = "#{pluralize(@projects.count, 'Project')}, #{pluralize(@tasks.count, 'Task')}, #{pluralize(@memberships.count, 'Project member')}, #{pluralize(@users.count, 'User')}, #{pluralize(@comments.count, 'Comment')}"
