.jumbotron
  %h1 gCamp
  %p Your life organized
.row
  - @col.each do |col|
    .col-md-4
      = image_tag (col[:img]), class: 'img-responsive pad-bottom'
      .panel.panel-info
        .panel-heading
          %h2.panel-title= col[:title]
        .panel-body
          - if col[:item].size == 1
            = col[:item][0]
          - else
            %ul
              - col[:item].each do |list|
                %li= list
.col-md-12
  .row
    %h4 What people are saying:
    %ul
    .row
      - @quotes.each do |quote|
        .col-md-4
          %li.quotes= quote.quote
          %li.quotes.text-muted= "-#{quote.author}"
