.jumbotron
  .container
    %h1 gCamp
    %p Your life organized
.container
  .row
    - @col.each do |col|
      .col-md-4
        .smallimg
          = image_tag (col[:img])
        .panel.panel-info
          .panel-heading
            %h2.panel-title= col[:title]
          .panel-body
            - if col[:item].size == 1
              = col[:item][0]
            - else
              - col[:item].each do |list|
                %ul
                %li= list

.container
  %div.quote-panel
    - quotes = [['"You da bomb"', "-Atom"],['"This site looks killer"', "-Orca"],['"What a dope page"',"-Snoop"]]
      %ul
      - quotes.each do |quote|
      %li.quotes= quote[0]
      %li.quotes.text-muted= quote[1]
      %br
