= render 'shared/success'
%div
  .pull-right
    = link_to 'Create Project', new_project_path, class: 'btn btn-primary pull-right'
  %h2 Projects
%table.table
  %thead
    %tr
      %th.col-md-4 Name
      %th.col-md-4 Members
      %th.col-md-4 Tasks
  %tbody
  - if current_user.admin?
    - @projects.each do |project|
      .col-md-12
      %tr
        %td
          .col-md-4.row
            = link_to project.name, project_path(project)
        %td
          .col-md-4
            = link_to project.memberships.count, project_memberships_path(project)
        %td
          .col-md-4
            = link_to project.tasks.count, project_tasks_path(project, @task)

  -else
    - current_user.projects.each do |project|
      .col-md-12
      %tr
        %td
          .col-md-4.row
            = link_to project.name, project_path(project)
        %td
          .col-md-4
            = link_to project.memberships.count, project_memberships_path(project)
        %td
          .col-md-4
            = link_to project.tasks.count, project_tasks_path(project, @task)

%h2 Pivotal Tracker Projects
%table.table
  %thead
    %tr
      %th.col-md-4 Name
    - @tracker_projects.each do |project|
      .col-md-12
      %tr
        %td
          .col-md-4.row
            = link_to project[:name], tracker_project_path(project[:id], all: true)
