.container
  = render 'shared/success'
  %ul.breadcrumb
    %li= link_to 'Project', '#'
    %li= link_to 'Stuff', '#'
    %li= link_to 'Things', '#'
  %tr
    %td
      .col-md-10
        %h4= @project.name
    %td
      .pull-right
        = link_to 'Edit', edit_project_path, class: 'btn btn-primary'
        = link_to 'Destroy', project_path, method: :delete, class: 'btn btn-danger'
