!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    -# %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title gCamp
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    %nav
      .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container
          %li.navbar-brand= link_to "gCamp", root_path
          .navbar-collapse.collapse
          / /.navbar-collapse

    = yield

    %br/
    %br/
    %footer
      .container.foot
        %p.text-muted
          %li= link_to_unless_current( "About", about_path)
          |
          %li= link_to_unless_current( "Terms", terms_path)
          |
          %li= link_to_unless_current( "FAQs", faq_path)
          |
          %li= link_to_unless_current( "Tasks", tasks_path(complete: false))
          |
          %li= link_to_unless_current( "Users", users_path)
          -# .pull-right
          -#   = link_to "www.linkedin.com/in/adamlichty/" do
          -#     = image_tag('linked-in.jpg', width: "20em")
          -#   = link_to "https://twitter.com/MrJadaml" do
          -#     = image_tag('twitter.jpg', width: "20em")
          -#   = link_to "https://github.com/MrJadaml" do
          -#     = image_tag('github.jpg', width: "20em")
          -#   = link_to "http://www.galvanize.it/school" do
          -#     = image_tag('gschool-logo.jpg', width: "50em")
