!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    -# %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title gCamp
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .container
        = link_to "gCamp", projects_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              My Projects
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li= link_to 'New Project', new_project_path
          %li= link_to 'Users', users_path

        %ul.nav.navbar-nav.navbar-right
          %ul.nav.navbar-nav
          -if current_user
            %li= link_to current_user.full_name, current_user
            %li= link_to "Sign Out", signout_path
          -else
            %li= link_to 'Sign Up', signup_path unless current_page?(signup_path)
            %li= link_to "Sign In", signin_path unless current_page?(signin_path)
    .container
      = yield
      %footer.foot.col-md-12
        %p.row
          %ul.text-center
            %li= link_to_unless_current( "About", about_path)
            |
            %li= link_to_unless_current( "Terms", terms_path)
            |
            %li= link_to_unless_current( "FAQs", faq_path)
            |
            %li= link_to_unless_current( "Users", users_path)
            |
            %li= link_to_unless_current( "Projects", projects_path)
